USE [QUANLI_APPODER_DOAN]
GO
ALTER TABLE [dbo].[ThanhToan] DROP CONSTRAINT [CK__ThanhToan__SoTie__6FE99F9F]
GO
ALTER TABLE [dbo].[NhanVien] DROP CONSTRAINT [CK__NhanVien__Luong__5812160E]
GO
ALTER TABLE [dbo].[MonAn] DROP CONSTRAINT [CK__MonAn__Loai__4F7CD00D]
GO
ALTER TABLE [dbo].[MonAn] DROP CONSTRAINT [CK__MonAn__Gia__4E88ABD4]
GO
ALTER TABLE [dbo].[KhuyenMai] DROP CONSTRAINT [CK__KhuyenMai__66603565]
GO
ALTER TABLE [dbo].[KhachHang] DROP CONSTRAINT [CK__KhachHang__DiemT__5535A963]
GO
ALTER TABLE [dbo].[DonHang] DROP CONSTRAINT [CK__DonHang__TongTie__5BE2A6F2]
GO
ALTER TABLE [dbo].[ChiTietDonHang] DROP CONSTRAINT [CK__ChiTietDo__SoLuo__60A75C0F]
GO
ALTER TABLE [dbo].[ChiTietDonHang] DROP CONSTRAINT [CK__ChiTietDo__DonGi__619B8048]
GO
ALTER TABLE [dbo].[ThanhToan] DROP CONSTRAINT [FK__ThanhToan__HoaDo__71D1E811]
GO
ALTER TABLE [dbo].[MonAn] DROP CONSTRAINT [FK__MonAn__MenuID__5070F446]
GO
ALTER TABLE [dbo].[KetCa] DROP CONSTRAINT [FK__KetCa__NhanVienI__778AC167]
GO
ALTER TABLE [dbo].[KetCa] DROP CONSTRAINT [FK__KetCa__CaID__76969D2E]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK__HoaDon__KhuyenMa__6D0D32F4]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK__HoaDon__DonHangI__6C190EBB]
GO
ALTER TABLE [dbo].[DonHang] DROP CONSTRAINT [FK__DonHang__NhanVie__5DCAEF64]
GO
ALTER TABLE [dbo].[DonHang] DROP CONSTRAINT [FK__DonHang__KhachHa__5CD6CB2B]
GO
ALTER TABLE [dbo].[ChiTietDonHang] DROP CONSTRAINT [FK__ChiTietDo__MonID__6383C8BA]
GO
ALTER TABLE [dbo].[ChiTietDonHang] DROP CONSTRAINT [FK__ChiTietDo__DonHa__628FA481]
GO
ALTER TABLE [dbo].[ThanhToan] DROP CONSTRAINT [DF__ThanhToan__ThoiG__70DDC3D8]
GO
ALTER TABLE [dbo].[Menu] DROP CONSTRAINT [DF__Menu__NgayTao__4BAC3F29]
GO
ALTER TABLE [dbo].[KhachHang] DROP CONSTRAINT [DF__KhachHang__DiemT__5441852A]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [DF__HoaDon__GiamGia__6B24EA82]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [DF__HoaDon__NgayLap__6A30C649]
GO
ALTER TABLE [dbo].[DonHang] DROP CONSTRAINT [DF__DonHang__NgayDat__5AEE82B9]
GO
/****** Object:  Index [UQ__Menu__D9D2A78FCC99CDB2]    Script Date: 17/04/2026 8:25:17 CH ******/
ALTER TABLE [dbo].[Menu] DROP CONSTRAINT [UQ__Menu__D9D2A78FCC99CDB2]
GO
/****** Object:  Index [UQ__KhachHan__CA1930A5305FB965]    Script Date: 17/04/2026 8:25:17 CH ******/
ALTER TABLE [dbo].[KhachHang] DROP CONSTRAINT [UQ__KhachHan__CA1930A5305FB965]
GO
/****** Object:  Index [UQ__HoaDon__D159F4DFC8955D95]    Script Date: 17/04/2026 8:25:17 CH ******/
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [UQ__HoaDon__D159F4DFC8955D95]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 17/04/2026 8:25:17 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ThanhToan]') AND type in (N'U'))
DROP TABLE [dbo].[ThanhToan]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 17/04/2026 8:25:17 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NhanVien]') AND type in (N'U'))
DROP TABLE [dbo].[NhanVien]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 17/04/2026 8:25:17 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MonAn]') AND type in (N'U'))
DROP TABLE [dbo].[MonAn]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 17/04/2026 8:25:17 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Menu]') AND type in (N'U'))
DROP TABLE [dbo].[Menu]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 17/04/2026 8:25:17 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KhuyenMai]') AND type in (N'U'))
DROP TABLE [dbo].[KhuyenMai]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 17/04/2026 8:25:17 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KhachHang]') AND type in (N'U'))
DROP TABLE [dbo].[KhachHang]
GO
/****** Object:  Table [dbo].[KetCa]    Script Date: 17/04/2026 8:25:17 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KetCa]') AND type in (N'U'))
DROP TABLE [dbo].[KetCa]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 17/04/2026 8:25:17 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HoaDon]') AND type in (N'U'))
DROP TABLE [dbo].[HoaDon]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 17/04/2026 8:25:17 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DonHang]') AND type in (N'U'))
DROP TABLE [dbo].[DonHang]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 17/04/2026 8:25:17 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ChiTietDonHang]') AND type in (N'U'))
DROP TABLE [dbo].[ChiTietDonHang]
GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 17/04/2026 8:25:17 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CaLamViec]') AND type in (N'U'))
DROP TABLE [dbo].[CaLamViec]
GO
USE [master]
GO
/****** Object:  Database [QUANLI_APPODER_DOAN]    Script Date: 17/04/2026 8:25:17 CH ******/
DROP DATABASE [QUANLI_APPODER_DOAN]
GO
/****** Object:  Database [QUANLI_APPODER_DOAN]    Script Date: 17/04/2026 8:25:17 CH ******/
CREATE DATABASE [QUANLI_APPODER_DOAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLI_APPODER_DOAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QUANLI_APPODER_DOAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLI_APPODER_DOAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QUANLI_APPODER_DOAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLI_APPODER_DOAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLI_APPODER_DOAN]
GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 17/04/2026 8:25:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[CaID] [int] IDENTITY(1,1) NOT NULL,
	[TenCa] [nvarchar](50) NULL,
	[GioBatDau] [time](7) NULL,
	[GioKetThuc] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 17/04/2026 8:25:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[CTDH_ID] [int] IDENTITY(1,1) NOT NULL,
	[DonHangID] [int] NOT NULL,
	[MonID] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](10, 2) NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[CTDH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 17/04/2026 8:25:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[DonHangID] [int] IDENTITY(1,1) NOT NULL,
	[NgayDat] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[TongTien] [decimal](10, 2) NULL,
	[KhachHangID] [int] NULL,
	[NhanVienID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DonHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 17/04/2026 8:25:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[HoaDonID] [int] IDENTITY(1,1) NOT NULL,
	[DonHangID] [int] NOT NULL,
	[NgayLap] [datetime] NULL,
	[TongTien] [decimal](10, 2) NULL,
	[GiamGia] [decimal](10, 2) NULL,
	[ThanhTien]  AS ([TongTien]-[GiamGia]) PERSISTED,
	[KhuyenMaiID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetCa]    Script Date: 17/04/2026 8:25:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetCa](
	[KetCaID] [int] IDENTITY(1,1) NOT NULL,
	[CaID] [int] NOT NULL,
	[NhanVienID] [int] NOT NULL,
	[ThoiGianBatDau] [datetime] NULL,
	[ThoiGianKetThuc] [datetime] NULL,
	[TongDoanhThu] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[KetCaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 17/04/2026 8:25:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[KhachHangID] [int] IDENTITY(1,1) NOT NULL,
	[TenKhach] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NULL,
	[DiemTichLuy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 17/04/2026 8:25:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[KhuyenMaiID] [int] IDENTITY(1,1) NOT NULL,
	[TenKhuyenMai] [nvarchar](100) NULL,
	[LoaiKhuyenMai] [nvarchar](50) NULL,
	[GiaTri] [decimal](10, 2) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[KhuyenMaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 17/04/2026 8:25:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[TenMenu] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NgayTao] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 17/04/2026 8:25:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[MonID] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](100) NOT NULL,
	[Gia] [decimal](10, 2) NULL,
	[MoTa] [nvarchar](255) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[Loai] [nvarchar](20) NULL,
	[DungTich] [nvarchar](20) NULL,
	[NhietDo] [nvarchar](20) NULL,
	[LoaiThucAn] [nvarchar](50) NULL,
	[MenuID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 17/04/2026 8:25:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[NhanVienID] [int] IDENTITY(1,1) NOT NULL,
	[TenNhanVien] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[Email] [nvarchar](100) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[Luong] [decimal](10, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 17/04/2026 8:25:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[ThanhToanID] [int] IDENTITY(1,1) NOT NULL,
	[HoaDonID] [int] NOT NULL,
	[PhuongThuc] [nvarchar](50) NULL,
	[SoTien] [decimal](10, 2) NULL,
	[ThoiGian] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ThanhToanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UQ__HoaDon__D159F4DFC8955D95]    Script Date: 17/04/2026 8:25:17 CH ******/
ALTER TABLE [dbo].[HoaDon] ADD UNIQUE NONCLUSTERED 
(
	[DonHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__CA1930A5305FB965]    Script Date: 17/04/2026 8:25:17 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Menu__D9D2A78FCC99CDB2]    Script Date: 17/04/2026 8:25:17 CH ******/
ALTER TABLE [dbo].[Menu] ADD UNIQUE NONCLUSTERED 
(
	[TenMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [GiamGia]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[Menu] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([DonHangID])
REFERENCES [dbo].[DonHang] ([DonHangID])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MonID])
REFERENCES [dbo].[MonAn] ([MonID])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([KhachHangID])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([DonHangID])
REFERENCES [dbo].[DonHang] ([DonHangID])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([KhuyenMaiID])
REFERENCES [dbo].[KhuyenMai] ([KhuyenMaiID])
GO
ALTER TABLE [dbo].[KetCa]  WITH CHECK ADD FOREIGN KEY([CaID])
REFERENCES [dbo].[CaLamViec] ([CaID])
GO
ALTER TABLE [dbo].[KetCa]  WITH CHECK ADD FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD FOREIGN KEY([MenuID])
REFERENCES [dbo].[Menu] ([MenuID])
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD FOREIGN KEY([HoaDonID])
REFERENCES [dbo].[HoaDon] ([HoaDonID])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  (([DiemTichLuy]>=(0)))
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD CHECK  (([NgayKetThuc]>=[NgayBatDau]))
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD CHECK  (([Gia]>=(0)))
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD CHECK  (([Loai]=N'Đồ uống' OR [Loai]=N'Đồ ăn'))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([Luong]>=(0)))
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD CHECK  (([SoTien]>(0)))
GO
USE [master]
GO
